.SortChart {
  min-height: 216px;
  height: 48vh;
  padding: 1rem;

  background-color: #f5f5f5;
  background-image: radial-gradient(blue 1px, transparent 1px);
  background-size: 20px 20px; /* spacing between dots */

  display: flex;
  flex-direction: row;
  align-items: flex-end;
  transition: 0.75s ease-in-out;
}